<footer class="mt-4"> 
<font size="2" face="Georgia">
<div class="text-center py-3">


<div>
    <%- partial('_partial/statistics.ejs') %>
    <%- partial('_partial/beian.ejs') %>
    <% if(theme.web_analytics.cnzz) { %>
      <!-- cnzz Analytics Icon -->
      <span id="cnzz_stat_icon_<%- theme.web_analytics.cnzz %>" style="display: none"></span>
    <% } %>
  </div>


  <div class="text-center py-1">   
    <div>
      <span>Copyright © 2020</span></a>
      <a href="https://erenspace.cool/" target="_blank" rel="nofollow noopener">
       <span>Eren の 宇宙船</span></a>    <br>
    </div>

</footer>
<!-- SCRIPTS -->
<%- partial('_partial/scripts.ejs') %>

